<h1><%= @concert.band %></h1>
    Where?
    <br>
    <%= @concert.venue %>
	<%= @concert.city %>
	<br>
	When?
    <br>
    <%= @concert.date %>
    <br>
    Price per ticket: 
    <br>
    <%= @concert.price %>
    <br>
    What's going on?
    <br>
    <%= @concert.description %>
    <br>
<footer>
    <h5>Property of ManuCorp</h5>
</footer>